body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background: azure;

    
    
}

.microsoft-logo{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    column-gap: 20px;
    row-gap: 20px;
}

.square{
    height: 200px;
    width:200px;
}
.red{
    background-color: #F35325;
}
.green{
    background-color: #81BC06;
}
.blue{
    background-color: #05A6F0;
}
.yellow{
    background-color: #FFBA08;
}